@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

/*  */
:root[style*="overflow: hidden"] {
  overflow: auto !important;
  padding-right: 0 !important;
}

/* Filter to convert image to #ecc450 color on hover */
.group:hover .hover-filter {
  filter: brightness(0) saturate(100%) invert(84%) sepia(31%) saturate(1352%) hue-rotate(8deg) brightness(98%) contrast(88%);
}

/* Smooth transition for the filter */
.hover-filter {
  transition: filter 0.3s ease;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  width: 20px;
  height: 2px;
  background: #fffff0;
  border-radius: 1px; /* smooth edges */
  transition: all 0.5s ease;
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translate(4px, 4px);
}

.open .hamburger-middle {
  opacity: 0;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translate(4px, -4px);
}
